{% extends 'templates/base/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
    {% trans 'Fullstack разработчик Dimabytes' %}
{% endblock %}
{% block style %}
{% endblock %}
{% block script %}
    <script type="text/javascript">
        {
            if (window.screen.width > 1170){ console.log('dfh'); document.write('<link rel="stylesheet" type="text/css" href="{% static 'Style/onepage-scroll.css' %}">');}
        }
    </script>
    <script type="text/javascript" src="{% static 'scripts/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/slider.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/script.js' %}"></script>
    <script type="text/javascript">
    </script>
    <script type="text/javascript">
        {
            if (window.screen.width > 1170){ document.write('<script type="text/javascript" src="{% static 'scripts/jquery.onepage-scroll.js' %}" ></sc' + 'ript>');}
        }
    </script>
    <script>
        if (screen.width > 1170) {
            $(document).ready(function () {
                $(".main").onepage_scroll({
                    updateURL: false,
                    pagination: false,
                    easing: "ease",
                    animationTime: 800,
                });
            });
        }
    </script>
{% endblock %}
{% block content %}
    <body style="font-family: 'Oswald', sans-serif;">
    <div class="main">

        <section class="page1" style="font-family: 'Neucha', cursive;">
            <h1>Dimabytes</h1>
            <h2>{% trans 'Fullstack разработчик' %}</h2>
            <div class="lang">
                <a id="RU" href="/">RU</a>
                <a id="EN" href="/en/">EN</a>
            </div>
        </section>

        <section class="page2">
            <h1 class="up_head">{% trans 'Кто я?' %} <i class="far fa-address-card"></i></h1>
            <div class="who">
                <img src="{% static 'images/Me.png' %}" id="Me">
                <p id="WhoText">{% trans 'Я профессиональный fullstack разработчик ' %}<br> {% trans 'Опыт работы более 2 лет ' %}<br>
                    {% trans 'Могу выполнить Ваш заказ быстро и эффективно ' %}<br>{% trans 'Слежу за новыми трендами в веб-разработке' %}
                </p>
            </div>
        </section>

        <section class="page3">
            <h1 class="up_head">{% trans 'Мои навыки' %} <i class="fas fa-highlighter"> </i></h1>
            <div class="skills">
                <div class="skill">
                    <p>{% trans 'Помощь с настройкой:' %}</p>
                    <ul>
                        <li>Wordpress</li>
                        <li>Prestashop</li>
                        <li>{% trans 'Яндекс.Директ' %}</li>
                        <li>Google AdWords</li>
                        <li>VK Pixel</li>
                    </ul>
                </div>
                <div class="skill">
                    <p>Backend / Frontend</p>
                    <ul>
                        <li>Python</li>
                        <li>Django</li>
                        <li>HTML5, CSS3</li>
                        <li>SASS, SCSS</li>
                        <li>Javascript(ES6)</li>
                        <li>Jquery, Canvas, Konva</li>
                        <li>Node</li>
                        <li>React</li>
                        <li>Express</li>
                    </ul>
                </div>

                <div class="skill">
                    <p>{% trans 'А так-же:' %}</p>
                    <ul>
                        <li>{% trans 'VK, Telegram, TikTok боты' %}</li>
                        <li>{% trans 'Консольные скрипты на python, node' %}</li>
                        <li>Reverse engineering API</li>
                        <li>Photoshop, Illustrator, Corel Draw</li>
                        <li>Swagger, Postman</li>
                        <li>Git, Markdown</li>
                        <li>Jira, Teamwork, Trello</li>
                    </ul>
                </div>

            </div>
        </section>
        <section class="page4">
            <div class="wrap_page_4">
                <h1 class="up_head text_4">{% trans 'Последние открытые для просмотра проекты' %} <i class="fas fa-briefcase"></i></h1>
                <div id="block-for-slider">
                    <div id="viewport">
                        <ul id="slidewrapper">
                            {% for foo in last_works %}
                                <li class="slide"><img src="{{ foo.Slide_Photo.url }}" alt="1" class="slide-img"></li>
                            {% endfor %}
                        </ul>
                        <ul id="nav-btns">
                        </ul>
                    </div>
                </div>
                <h1 class="up_head text_4">{% trans 'Чтобы увидеть больше, Вы можете перейти в' %} <a
                        style="text-transform: uppercase"
                        href="{% url 'portfolio' %}">{% trans 'портфолио' %}</a></h1>
            </div>
        </section>
        <section class="page5">

            <h1 class="up_head">{% trans 'Свяжитесь со мной' %} <i class="far fa-address-book"></i></h1>
            <div class="form_wrap">
            <form method="post" class="form">
                {% csrf_token %}
                <div class="email">{{ form.email }}</div>
                <div class="ename">{{ form.name }}</div>
                <div class="Text">{{ form.Text }}</div>

                <div class="btn send">{% trans 'Написать!' %}</div>
                <button style="display: none" type="submit" class="btn"></button>
            </form>
                </div>
            <div class="overlay-loader">
                <div class="loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div></div>
    </div>
            <div class="after_send">
                <p>{% trans 'Спасибо за обращение! Я скоро Вам отвечу!' %}</p>
                <img src="{% static 'images/thanks.svg' %}">
            </div>
            <div class="after_send_2">
                <p>{% trans 'Упс! Что то пошло не так :(' %}
                    <br> {% trans 'Но вы всё ещё можете свзяаться со мной тут:' %}
                    <br>{% trans 'Почта: dimabytes@gmail.com' %}
                    <br>Vk: <a href="https://vk.com/dimabytes">Dima Lol</a>
                    <br> {% trans 'Ваше сообщение:' %}<span></span>
                </p>
            </div>
        </section>


    </div>

{% endblock %}