{% extends 'templates/base/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
    {% trans 'Профессиональный верстальщик Санкт-Петербург' %}
{% endblock %}
{% block style %}
{% endblock %}
{% block script %}
    <script type="text/javascript">
        {
            if (window.width > 1170) document.write('<link rel="stylesheet" type="text/css" href="{% static 'Style/onepage-scroll.css' %}">');
        }
    </script>
    <script type="text/javascript" src="{% static 'scripts/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/slider.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/script.js' %}"></script>
    <script type="text/javascript">
    </script>
    <script type="text/javascript">
        {
            if (window.width > 1170) document.write('<script type="text/javascript" src="{% static 'scripts/jquery.onepage-scroll.js' %}" ></sc' + 'ript>');
        }
    </script>
    <script>
        if (screen.width > 1170) {
            $(document).ready(function () {
                $(".main").onepage_scroll({
                    updateURL: false,
                    pagination: false,
                    easing: "ease",
                    animationTime: 800,
                });
            });
        }
    </script>
{% endblock %}
{% block content %}
    <body style="font-family: 'Oswald', sans-serif;">
    <div class="main">

        <section class="page1" style="font-family: 'Neucha', cursive;">
            <h1>Dimabytes</h1>
            <h2>{% trans 'Веб-дизайнер & разработчик' %}</h2>
            <div class="lang">
                <a id="RU" href="/ru/">RU</a>
                <a id="EN" href="/en/">EN</a>
            </div>
        </section>

        <section class="page2">
            <h1 class="up_head">{% trans 'Кто я?' %} <i class="far fa-address-card"></i></h1>
            <div class="who">
                <img src="{% static 'images/Me.png' %}" id="Me">
                <p id="WhoText">{% trans 'Я молодой профессиональный веб-разработчик' %}<br> {% trans 'Я занимаюсь веб-разработкой на протяжении года' %}<br>
                    {% trans 'Я могу выполнить Ваш заказ быстро и эффективно' %}<br>{% trans 'Я слежу за новыми трендами в веб-разработке, и помогу Вам создать великолепный сайт!' %}
                </p>
            </div>
        </section>

        <section class="page3">
            <h1 class="up_head">{% trans 'Мои навыки' %} <i class="fas fa-highlighter"> </i></h1>
            <div class="skills">
                <div class="skill">
                    <p>Помощь с настройкой:</p>
                    <ul>
                        <li>Wordpress</li>
                        <li>Prestashop</li>
                        <li>Яндекс.Директ</li>
                        <li>Google AdWords</li>
                    </ul>
                </div>
                <div class="skill">
                    <p>Backend / frontend</p>
                    <ul>
                        <li>Python</li>
                        <li>Django</li>
                        <li>HTML5, CSS3</li>
                        <li>Javascript, Jquery</li>
                        <li>Canvas</li>
                        <li>Git</li>
                    </ul>
                </div>

                <div class="skill">
                    <p>А так-же:</p>
                    <ul>
                        <li>VK и Telegram боты</li>
                        <li>Консольные скрипты на python</li>
                        <li>Photoshop, Illustrator, InDesign</li>
                    </ul>
                </div>

            </div>
        </section>
        <section class="page4">
            <div class="wrap_page_4">
                <h1 class="up_head text_4">{% trans 'Последние проекты' %} <i class="fas fa-briefcase"></i></h1>
                <div id="block-for-slider">
                    <div id="viewport">
                        <ul id="slidewrapper">
                            {% for foo in last_works %}
                                <li class="slide"><img src="{{ foo.Slide_Photo.url }}" alt="1" class="slide-img"></li>
                            {% endfor %}
                        </ul>
                        <ul id="nav-btns">
                            {% for foo in last_works %}
                                <li class="slide-nav-btn"></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <h1 class="up_head 4_text">{% trans 'Чтобы увидеть больше, Вы можете перейти в' %} <a
                        style="color: #757575; text-transform: uppercase"
                        href="{% url 'portfolio' %}">{% trans 'портфолио' %}</a></h1>
            </div>
        </section>
        <section class="page5">

            <h1 class="up_head">{% trans 'Свяжитесь со мной' %} <i class="far fa-address-book"></i></h1>
            <form method="post" class="form">
                {% csrf_token %}
                <div class="email">{{ form.email }}</div>
                <div class="ename">{{ form.name }}</div>
                <div class="Text">{{ form.Text }}</div>

                <div class="btn send">{% trans 'Написать!' %}</div>
                <button style="display: none" type="submit" class="btn"></button>
            </form>
        </section>


    </div>

{% endblock %}