{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quantico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div class="creative">
<header>
<div class="logo">
    <div class="Rectangle_9_copy"><p>CS</p></div>
    <div class="Rectangle_9"></div>
</div>
    <nav>
    <div class="topnav">
        <a href="#" class="Kek">Home</a>
        <a href="#" class="Kek">Pages</a>
        <a href="#" class="Kek">Features</a>
       <a href="#" class="Kek">Extensions</a>
       <a href="#" class="Kek">Tutorials</a>
        <a href="#" class="Kek">Contact us</a>
        <a href="#"><i class="fas fa-bars fa-2x" id="Hamburger"></i></a>
    </div>
    </nav>
    <div class="social">
        <div class="social_button"><a href="#"><i class="fab fa-facebook-f fa-2x"></i></a></div>
        <div class="social_button"><a href="#"><i class="fab fa-vk fa-2x"></i></a></div>
        <div class="social_button"><a href="#"><i class="fab fa-instagram fa-2x"></i></a></div>

    </div>
</header>

<div class="rofl">
    <h1>Creative</h1>
    <h2>Power by Dimabytes</h2>
</div>
    <i id='usless' class="fas fa-bars"></i>



</div>
<menu>
    <a class="close"><i class="fas fa-times"></i></a>
    <ul class="Bar_social">
        <li><a href="#"><i class="fab fa-facebook-f fa-2x"></i></a></li>
        <li><a href="#"><i class="fab fa-vk fa-2x"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
    </ul>
    <ul class="Bar_menu">
        <li><a href="#" class="Lol">Home</a></li>
        <li><a href="#" class="Lol">Pages</a></li>
        <li><a href="#" class="Lol">Features</a></li>
        <li><a href="#" class="Lol">Extensions</a></li>
        <li><a href="#" class="Lol">Tutorials</a></li>
        <li> <a href="#" class="Lol">Contact us</a></li>
    </ul>

</menu>
<div class="we_are">
    <h1>We are awesome agency</h1>
    <div class="features">
        <div class="feat">
            <div class="feature"><i class="far fa-address-card fa-4x"></i></div>
            <h2>Feature one</h2>
            <div class="Roflo_text">
            <p>Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            </div>
        </div>
        <div class="feat">
            <div class="feature"><i class="fas fa-paint-brush fa-4x"></i></div>
            <h2>Feature two</h2>
            <div class="Roflo_text">
            <p>Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            </div>
        </div>
        <div class="feat">
            <div class="feature"><i class="fas fa-chart-bar fa-4x"></i></div>
            <h2>Feature three</h2>
            <div class="Roflo_text">
            <p>Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            </div>
        </div>
        <div class="feat">
            <div class="feature"><i class="fas fa-book fa-4x"></i></div>
            <h2>Feature four</h2>
            <div class="Roflo_text">
            <p>Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            </div>
    </div>
</div>
    </div>
    <div class="blog">
        <div class="kek" id="a">
            <div class="textbox">
                <h1>since the 1500s</h1>
                <h2>Lorem Ipsum is</h2>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
            </div>
        </div>
        <div class="kek" id="b">
        </div>
                <div class="kek" id="dd">
                <div class="textbox">
                <h1>since the 1500s</h1>
                <h2>Latin literature</h2>
                <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. </p>
            </div>
        </div>
        <div class="kek" id="c">

        </div>

        <div class="kek" id="d">
                <div class="textbox">
                <h1>since the 1500s</h1>
                <h2>Lorem Ipsum is</h2>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text</p>
            </div>
        </div>
                <div class="kek" id="cc">

        </div>
    </div>
    <div class="lets">
        <div class="le">
            <div id="layer1">B</div>
            <div id="layer2">Let’s Blog</div>
        </div>
        <h1 id="We_love">We love clean design and advanced digital solutions.</h1>
            <div class="features">
        <div class="feat" id="Blog_feate">
            <div class="feature" id="Blog_feat"></div>
            <h2>Feature one</h2>
            <div class="Roflo_text">
            <p>Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            </div>
        </div>
        <div class="feat" id="Blog_feate">
            <div class="feature" id="Blog_feat"></div>
            <h2>Feature two</h2>
            <div class="Roflo_text">
            <p>Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            </div>
        </div>
        <div class="feat" id="Blog_feate">
            <div class="feature" id="Blog_feat"></div>
            <h2>Feature three</h2>
            <div class="Roflo_text">
            <p>Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            </div>
        </div>
        <div class="feat" id="Blog_feate">
            <div class="feature" id="Blog_feat"></div>
            <h2>Feature four</h2>
            <div class="Roflo_text">
            <p>Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            </div>
    </div>
</div>
    </div>
    <div class="mobile">
        <div class="in_mobile">
            <div class="left_text">
                <h1>Lorem Ipsum is simply</h1>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</br>

Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis.</p>
                <div class="nadpici">
                    <div class="nadpic" id="nadpic_1"><h4>Fully Responsive Design</h4></div>
                    <div class="nadpic" id="nadpic_2"><h4>High Quality Code</h4></div>
                    <div class="nadpic" id="nadpic_3"><h4>Different Headers & Layout</h4></div>
                </div>
            </div>
            <div class="right_photo">
                <img src="{% static 'img2/Rectangle-1-copy.png' %}">
            </div>
        </div>
    </div>
    <div class="team">
        <div class="le">
            <div id="layer1">T</div>
            <div id="layer2">Our Team</div>
        </div>
        <h1 id="We_love">Sales long tail influencer pitch release niche market.</h1>
        <div class="teammates">
            <div class="teammate" id="team_1">

                <div class="about_team" >
                    <h1>Benedict Owens</h1>
                    <h2>CEO</h2>
                </div>
            </div>
            <div class="teammate" id="team_2">

                <div class="about_team">
                    <h1>Betty Ross</h1>
                    <h2>Photographer</h2>
                </div>
            </div>
            <div class="teammate" id="team_3">

                <div class="about_team">
                    <h1>Michael Campbell</h1>
                    <h2>Web designer</h2>
                </div>
            </div>
            <div class="teammate" id="team_4">
                <div class="about_team">
                    <h1>Caroline Malone</h1>
                    <h2>Photographer</h2>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <hr>
        <h1>Dimabytes&copy All rights received<br>PSD template taken from psdfreebies.com</h1>
    </footer>

</body>
</html>
