{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style1.css' %}">
</head>
<body>
<div class="wrapper">
    <div class="banner">
        <div id="banner_logo">
            <img src="{% static 'img5/logo.png' %}" alt="logo" class="logo-photo">
        </div>
        <div class="boosting">
            <div class="left_boosting">
                <h1>Reputon: boosting your online reputation</h1>
                <h2>Consolidate all your online reviews channels with our Shopify extension!</h2>
                <a href="#" class="get" id="bannerr"><img src="{% static 'img5/button.png' %}"></a>
            </div>
            <div class="right_boosting">
                <img src="{% static 'img5/comp.png' %}">
            </div>
        </div>
        <div class="why">
            <h1>Why use us?</h1>
            <h2><i class="fas fa-long-arrow-alt-down fa-2x"></i>
            </h2>
        </div>



    </div>
    <div class="screen_1">
        <div class="screen_1_comp">
            <h2>01</h2>
            <img src="{% static 'img5/screen_1_photo.png' %}">

        </div>
        <div class="screen_1_text">
            <h2>01</h2>
            <h1>Just google "[Your store name] reviews" and see how much better your online presence could be!</h1>
            <a href="#" class="get" id="banner"><img src="{% static 'img5/button.png' %}"></a>

        </div>
    </div>
    <div class="screen_2">
        <div class="screen_2_comp">
            <h2>02</h2>
            <img src="{% static 'img5/screen2.png' %}">

        </div>
        <div class="screen_2_text">
            <h2>02</h2>
            <h1>Drastically improve your online reputation with awesome reviews!</h1>
            <a href="#" class="get" id="ba"><img src="{% static 'img5/button.png' %}"></a>

        </div>
    </div>
    <div class="screen_3">
        <div class="screen_3_comp">
            <h2>03</h2>
            <img src="{% static 'img5/screen3.png' %}">

        </div>
        <div class="screen_3_text">
            <h2>03</h2>
            <h1>Keep customers constantly engaged in reviewing your services</h1>
            <a href="#" class="get" id="ban"><img src="{% static 'img5/button.png' %}"></a>

        </div>
    </div>
    <div class="kek">
        <img src="{% static 'img5/kek.png' %}">
    </div>
    <div class="screen_4">
        <div class="screen_4_comp">
            <h2>04</h2>
            <img src="{% static 'img5/screen4.png' %}">

        </div>
        <div class="screen_4_text">
            <h2>04</h2>
            <h1>Find weak spots in your service or products and fix them fast!</h1>
            <a href="#" class="get" id="bann"><img src="{% static 'img5/button.png' %}"></a>

        </div>
    </div>
</div>
</body>
<footer>
    <div class="footer_info">
        <img src="{% static 'img5/logo.png' %}" class="log">
        <a href="#" id="lol"><img src="{% static 'img5/arrow.png' %}"></a>
        <h1 class="info">info@reputon.com</h1>
        <a href="#" id="rofl"><img src="{% static 'img5/arrow.png' %}"></a>

    </div>
    <h3>&copy;2018, Reputon</h3>
</footer>
</html>