{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>ВИТАНД</title>
    <link rel="stylesheet" type="text/css" href="{% static 'works/vitand/style.css'%}">

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

</head>
<body>
<img src="{% static 'works/vitand/img/top_left.png' %}" alt="" class="top_left">
    <div class="first_block">
        <header>
            <img src="{% static 'works/vitand/img/main_logo.png' %}" alt="" class="main_logo">
            <div class="achievements">
                <div><img src="{% static 'works/vitand/img/25.png' %}" alt="" class="change">
                    <img src="{% static 'works/vitand/img/iso.png' %}" alt="" class="change"></div>
                <p>На службе героев с 1994 года!</p>
            </div>
            <div class="call_us">
                <p>+7 (495) 628 74 61</p>
                <p>Получить консультацию</p>

            </div>
        </header>
        <div class="menu">
            <nav id="desk_menu_main"><a href="#">Главная</a></nav>
            <nav class="" id="desk_menu_about"><a href="#">O компании</a>
                <div class="sub_menu">
                    <ul>
                        <li><a href="#">Автомобили аэродромного тушения</a>
                        <li><a href="#">Автолестницы</a></li>
                        <li><a href="#">Автоцистерны</a></li>
                        <li><a href="#">Компоненты</a></li>
                    </ul>
                </div>
            </nav>
            <nav class="" id="desk_menu_vitand"><a href="#">Продукция Витанд</a>
                <div class="sub_menu">
                    <ul>
                        <li><a href="#">Автомобили аэродромного тушения</a>
                        <li><a href="">Автолестницы</a></li>
                        <li><a href="">Автоцистерны</a></li>
                        <li><a href="">Компоненты</a></li>
                    </ul>
                </div>
            </nav>
            <nav class="" id="desk_menu_magirus"><a href="#">Продукция Магирус</a>
                <div class="sub_menu">
                    <ul>
                        <li><a href="#">Автомобили аэродромного тушения</a>
                        <li><a href="">Автолестницы</a></li>
                        <li><a href="">Автоцистерны</a></li>
                        <li><a href="">Компоненты</a></li>
                    </ul>
                </div>
            </nav>
            <nav class="" id="desk_menu_accessories"><a href="#">Комплектующие</a>
                <div class="sub_menu">
                    <ul>
                        <li><a href="#">Автомобили аэродромного тушения</a>
                        <li><a href="">Автолестницы</a></li>
                        <li><a href="">Автоцистерны</a></li>
                        <li><a href="">Компоненты</a></li>
                    </ul>
                </div>
            </nav>
            <nav class="" id="desk_menu_services"><a href="#">Услуги</a>
                <div class="sub_menu">
                    <ul>
                        <li><a href="#">Автомобили аэродромного тушения</a>
                        <li><a href="">Автолестницы</a></li>
                        <li><a href="">Автоцистерны</a></li>
                        <li><a href="">Компоненты</a></li>
                    </ul>
                </div>
            </nav>
            <nav id="desk_menu_contacts"><a href="#">Контакты</a>
            </nav>


        </div>

        </div>
    <div class="second_block">
        <img src="{% static 'works/vitand/img/top.png' %}" alt="" class="top_line">
        <img src="{% static 'works/vitand/img/bottom_right.png' %}" alt="" class="bottom_line">
        <div class="second_wrap">
            <div class="slide_full active_slide">
                <div class="prod_wrap">
                    <div class="product p1"></div>
                    <div class="product p2"></div>
                </div>
            <div class="info">
                <div class="info_text">
                    <h1>Инновационная пожарная
                        автотехника 1</h1>
                    <p>ООО «КОМПАНИЯ ВИТАНД» с 1994 года оказывает услуги в области пожарной безопасности по поставке, техническому обслуживанию пожарной автотехники и ее компонентов, являясь эксклюзивным
                        <br><br>
                        представителем немецкой компании МАГИРУС ГмбХ, а с 2010 года приступила к выпуску пожарной автотехники российского производства.</p>
                </div>
                <div class="arrows_wrap">
                <div class="based">
                    <img src="{% static 'works/vitand/img/emblem1.png' %}">
                    <p>основано в <br>1994 году</p>
                </div>
                <div class="arrows">
                    <div class="arrow_prev arrow">←</div>
                    <div class="arrow_next arrow ready_arrow">→</div>
                </div></div>

            </div>
                <img src="{% static 'works/vitand/img/Pozharka.png' %}" class="big_car">
        </div>
            <div class="slide_full" style="display: none">
                <div class="prod_wrap">
                    <div class="product p1"></div>
                    <div class="product p2"></div>
                </div>
                <div class="info">
                    <div class="info_text">
                        <h1>Инновационная пожарная
                            автотехника 2</h1>
                        <p>ООО «КОМПАНИЯ ВИТАНД» с 1994 года оказывает услуги в области пожарной безопасности по поставке, техническому обслуживанию пожарной автотехники и ее компонентов, являясь эксклюзивным
                            <br><br>
                            представителем немецкой компании МАГИРУС ГмбХ, а с 2010 года приступила к выпуску пожарной автотехники российского производства.</p>
                    </div>
                    <div class="arrows_wrap">
                        <div class="based">
                            <img src="{% static 'works/vitand/img/emblem1.png' %}">
                            <p>основано в <br>1994 году</p>
                        </div>
                        <div class="arrows">
                            <div class="arrow_prev arrow">←</div>
                            <div class="arrow_next arrow ready_arrow">→</div>
                        </div></div>

                </div>
                <img src="{% static 'works/vitand/img/Pozharka.png' %}" class="big_car">
            </div>
            <div class="slide_full" style="display: none">
                <div class="prod_wrap">
                    <div class="product p1"></div>
                    <div class="product p2"></div>
                </div>
                <div class="info">
                    <div class="info_text">
                        <h1>Инновационная пожарная
                            автотехника 3</h1>
                        <p>ООО «КОМПАНИЯ ВИТАНД» с 1994 года оказывает услуги в области пожарной безопасности по поставке, техническому обслуживанию пожарной автотехники и ее компонентов, являясь эксклюзивным
                            <br><br>
                            представителем немецкой компании МАГИРУС ГмбХ, а с 2010 года приступила к выпуску пожарной автотехники российского производства.</p>
                    </div>
                    <div class="arrows_wrap">
                        <div class="based">
                            <img src="{% static 'works/vitand/img/emblem1.png' %}">
                            <p>основано в <br>1994 году</p>
                        </div>
                        <div class="arrows">
                            <div class="arrow_prev arrow">←</div>
                            <div class="arrow_next arrow ready_arrow">→</div>
                        </div></div>


                </div>
                <img src="{% static 'works/vitand/img/Pozharka.png' %}" class="big_car">
            </div>
            <div class="learn_more">УЗНАЙТЕ О НАС БОЛЬШЕ</div>
        </div>
    </div>

    <div class="main">
            <div class="news">
                <img src="{% static 'works/vitand/img/just_line.png' %}" alt="" class="just_1">
                <img src="{% static 'works/vitand/img/just_line.png' %}" alt="" class="just_2">
                <h1>Новоcти нашей компании</h1>
                <div class="news_wrap">
                    <div class="article">
                        <div style="background-image: url('{% static "works/vitand//img/news_photo.jpg" %}')"  class="article_img"></div>
                        <div class="news_text">
                            <h2>ВИТАНД поздравляет
                                с Новым Годом!</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris</p>
                        <a href="#">читать далее</a>
                        </div>

                    </div>
                    <div class="article">
                        <div style="background-image: url('{% static "works/vitand//img/news_photo.jpg" %}')"  class="article_img"></div>
                        <div class="news_text">
                            <h2>ВИТАНД поздравляет
                                с Новым Годом!</h2>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris</p>
                        <a href="#">читать далее</a>
                        </div>
                    </div>
                    <div class="article">
                        <div style="background-image: url('{% static "works/vitand//img/news_photo.jpg" %}')" class="article_img"></div>
                        <div class="news_text">
                            <h2>ВИТАНД поздравляет
                                с Новым Годом!</h2>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris</p>
                        <a href="#">читать далее</a>
                        </div>
                    </div>
                </div>
                <a class="all_articles" href="#">ВСЕ СТАТЬИ</a>
                <img src="{% static 'works/vitand/img/dots.png' %}" alt="" class="dots_1">
            </div>

        <div class="on_service">
            <p>Поставленная цель реализуется профессиональным коллективом единомышленников ВИТАНД, ежедневно решающих задачи по созданию новых образцов пожарных автомобилей и компонентов, организации производства и поставок автотехники, их сервисного обслуживания и обучению личного состава пожарных подразделений правилам эксплуатации.
                <br>
                <br>

                Другими словами, «КОМПАНИЯ ВИТАНД» реализует и поддерживает полный жизненный цикл поставленной автотехники, который составляет 20 лет и более без капитального ремонта: от проработки каждой спецификации и производства до поддержания пожарного автомобиля в рабочем состоянии в течение всего периода нахождения на боевом дежурстве.
            </p>
            <div class="serv_info">
                <img src="{% static 'works/vitand/img/award.png' %}">
                <h3>На службе<br>героев<br><span>c 1994 года</span></h3>
            </div>
            <img src="{% static 'works/vitand/img/guys.png' %}" alt="" class="guys">
        </div>
    </div>
    <div class="main_2">
        <img src="{% static 'works/vitand/img/dots.png' %}" alt="" class="dots_2">
        <img src="{% static 'works/vitand/img/dots_gray.png' %}" alt="" class="dots_3">
        <img src="{% static 'works/vitand/img/dots_gray.png' %}" alt="" class="dots_4">
        <img src="{% static 'works/vitand/img/last_red.png' %}" alt="" class="last_red">
        <div class="reviews">
            <h2>Отзывы о нашей работе</h2>
            <div class="slider_2"><div class="slide_2 active_slide_2">
                <div class="review">
                    <h4>Lorem ipsum</h4>
                    <p>Вolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                </div>
                <div class="review">
                    <h4>Lorem ipsum</h4>
                    <p>Вolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                </div>
                <div class="review">
                    <h4>Lorem ipsum</h4>
                    <p>Вolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                </div>
            </div>
                <div class="slide_2" style="display: none">
                    <div class="review">
                        <h4>Lorem ipsum2</h4>
                        <p>Вolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                    </div>
                    <div class="review">
                        <h4>Lorem ipsum2</h4>
                        <p>Вolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                    </div>
                    <div class="review">
                        <h4>Lorem ipsum2</h4>
                        <p>Вolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                    </div>
                </div>
                <div class="slide_2" style="display: none">
                    <div class="review">
                        <h4>Lorem ipsum3</h4>
                        <p>Вolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                    </div>
                    <div class="review">
                        <h4>Lorem ipsum3</h4>
                        <p>Вolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                    </div>
                    <div class="review">
                        <h4>Lorem ipsum3</h4>
                        <p>Вolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                    </div>
                </div>
                <div class="arrows_2">
                    <div class="arrow_prev_2"></div>
                    <div class="arrow_next_2 no"></div>
                </div>
            </div>
        </div>
        <div class="performed">
            <h2>Выполненные проекты</h2>
            <p>Пожарная безопасность никогда не потеряет своей актуальности. Жизнь не стоит на месте, технологические параметры инженерных объектов и сооружений постоянно улучшаются, наращиваются производственные мощности и, что естественно, дает сильный импульс к созданию новых образцов автотехники, обеспечивающих их пожарную и экологическую безопасность.</p>
            <span>Мы гордимся тем, что вот уже более 20 лет наша компания вносит свой вклад в обеспечение высококачественной продукцией подразделений МЧС и промышленных предприятий. В числе наших Заказчиков:</span>

        </div>
    </div>
    <div id="big_map"></div>
    <footer>
        <div class="footer_wrap">
            <div class="main_footer">
                <div class="main_office">
                    <h3>Основной офис</h3>
                    <div class="main_o_map">
                    </div>
                </div>
                <div class="second_office">
                    <h3>Сервисно-Производственное<br>
                        отделение</h3>
                    <div class="second_o_map">
                    </div>
                </div>
                <div class="add_info">
                    <img src="{% static 'works/vitand/img/main_logo.png' %}">
                    <div class="info">
                        <p>У вас вопрос? Ответим!<br>info@vitand.ru</p>
                        <p>Москва, Семёновская площадь,<br>
                            1А, 18 этаж </p>
                        <p>Москва, Семёновская площадь,<br>
                            1А, 18 этаж </p>
                    </div>

                </div>

            </div>
            <div class="menu">
                <nav><a href="#">Главная</a></nav>
                <nav class=""><a href="#">O компании</a></nav>
                <nav class=""><a href="#">Продукция Витанд</a></nav>
                <nav class=""><a href="#">Продукция Магирус</a></nav>
                <nav class=""><a href="#">Комплектующие</a></nav>
                <nav class=""><a href="#">Услуги</a></nav>
                <nav><a href="#">Контакты</a></nav>


            </div>
        </div>

    </footer>

<script id="jquery" language="JavaScript" src="{% static 'works/vitand/scripts/jquery.js'%}"></script>
<script language="JavaScript" src="{% static 'works/vitand/scripts/script.js'%}"></script>
<script>


    $(function() {
    setTimeout(function () {
        $('.main_o_map').append('<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A5f5747476e09d59cc828fdc7b5915083e7573b4d2f5c4f5b0031691bf4f490ee&amp;source=constructor" width="380" height="338" frameborder="0"></iframe>');
    $('.second_o_map').append('<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A5f5747476e09d59cc828fdc7b5915083e7573b4d2f5c4f5b0031691bf4f490ee&amp;source=constructor" width="380" height="338" frameborder="0"></iframe>');
    $('#jquery').before('<script src="https://api-maps.yandex.ru/2.1/?apikey=ba680b4b-f235-4abe-940a-832720c77495&lang=ru_RU" type="text/javascript"></scr'+ 'ipt>');

    setTimeout(function () {
        $('#jquery').after('<script language="JavaScript" src="{% static 'works/vitand/scripts/big_map.js' %}"></scr' +'ipt>');

    }, 200)
    }, 1000)

});


</script>

</body>
</html>
