{% extends 'templates/base/base.html' %}
{% load staticfiles %}
{% block title %}
    Профессиональный верстальщик Санкт-Петербург
{% endblock %}
{% block style %}
<meta name="keywords" content="Вертсальщик, Веб-разработчик, профессионал, Dimabytes, Санкт-Петербург">
<meta name="yandex-verification" content="ec1b98a912a140ab" />
<meta name="description" content="Я - профессиональный веб-разработчик. Помогу вам в создании прекрасного сайта. Быстро. Качественно. Недорого. " />

        <script type="text/javascript">
{
  if (screen.width > 1170) document.write ('<link rel="stylesheet" type="text/css" href="{% static 'Style/onepage-scroll.css' %}">');
}
</script>
<script type="text/javascript" src="{% static 'scripts/jquery.js' %}" ></script>
<script type="text/javascript" src="{% static 'scripts/slider.js' %}" ></script>
<script type="text/javascript">
{
  if (screen.width > 1170) document.write ('<script type="text/javascript" src="{% static 'scripts/jquery.onepage-scroll.js' %}" ></sc' + 'ript>');
}
</script>

<script type="text/javascript">
{
  if (screen.width > 1170) document.write ('<script type="text/javascript" src="{% static 'scripts/script.js' %}" ></sc' + 'ript>');
}
</script>
    <script>
    $(document).ready(function(){
        $(".main").onepage_scroll({
            updateURL: false,
            pagination: false,
            easing: "ease",
            animationTime: 800,
        });
    });
    </script>

    <style>

@media screen and (max-width: 1366px) {
    .page1 h1 {
        font-size: 10em;
        font-weight: 500;

    }

    .page1 h2 {
        font-size: 5em;
        margin: 7vh 0 0 0;

    }
}
    @media screen and (max-width: 1120px) {
    .page1 h1 {
        font-size: 7em;
        font-weight: 500;

    }

    .page1 h2 {
        font-size: 3em;
        margin: 7vh 0 0 0;

    }
    @media screen and (max-width: 700px) {
    .page1 h1 {
        font-size: 6em;
        font-weight: 500;

    }

    .page1 h2 {
        font-size: 2em;
        margin: 7vh 0 0 0;

    }

}   @media screen and (max-width: 465px) {
    .page1 h1 {
        font-size: 4em;
        font-weight: 500;

    }

    .page1 h2 {
        font-size: 1.2em;
        margin: 7vh 0 0 0;

    }
}
}
    </style>
{% endblock %}
{% block content %}
<body style="font-family: 'Oswald', sans-serif;">
<div class="main">

    <section class="page1" style="font-family: 'Neucha', cursive;">
        <h1>Dimabytes</h1>
        <h2>Веб-дизайнер & разработчик</h2>
        <div class="lang">
            <a id="RU" href="{% url 'main_ru' %}">RU</a>
            <a id="EN" href="{% url 'main' %}">EN</a>
        </div>
    </section>

    <section class="page2">
        <h1 class="up_head">Кто я? <i class="far fa-address-card"></i></h1>
        <div class="who">
            <img src="{% static 'images/Me.png' %}" id="Me">
            <p id="WhoText">Я молодой профессиональный веб-разработчик<br> Я занимаюсь веб-разработкой на протяжении 9 месяцев<br>
                Я могу выполнить Ваш заказ быстро и эффективно<br>Я слежу за новыми трендами в веб-разработке, и помогу Вам создать великолепный сайт!</p>
        </div>
    </section>

    <section class="page3">
        <h1 class="up_head">Мои навыки <i class="fas fa-highlighter"> </i></h1>
        <div class="skills">
            <ul>
                <li id="1">Python</li>
                <li id="2">Django</li>
                <li id="3">Javascript</li>
                <li id="4">Jquery</li>
                <li id="5">HTML5</li>
                <li id="6">CSS3</li>
                <li id="6">Canvas</li>
            </ul>
        </div>
    </section>
    <section class="page4">
        <h1 class="up_head text_4">Последние проекты <i class="fas fa-briefcase"></i></h1>
        <div id="block-for-slider">
            <div id="viewport">
                <ul id="slidewrapper">
                    {% for foo in Kek %}
                    <li class="slide"><img src="{{ foo.Slide_Photo.url }}" alt="1" class="slide-img"></li>
                    {% endfor %}
                </ul>
                <ul id="nav-btns">
                    {% for foo in Kek %}
                    <li class="slide-nav-btn"></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <h1 class="up_head 4_text">Чтобы увидеть больше, Вы можете перейти в <a style="color: #757575; text-transform: uppercase" href="{% url 'portfolio_ru:index' %}">портфолио</a></h1>

    </section>
    <section class="page5">

        <h1 class="up_head">Свяжитесь со мной <i class="far fa-address-book"></i></h1>
        <form method="post" class="form">
            {% csrf_token %}
            <div class="email">{{ form.email}}</div>
            <div class="ename">{{ form.name}}</div>
            <div class="Text">{{ form.Text}}</div>

        <button type="submit" class="btn">Написать!</button>
        </form>
    </section>







</div>

{% endblock %}