{% extends 'templates/base/base.html' %}
{% load staticfiles %}
{% block title %}
    Main
{% endblock %}
{% block style %}
<meta name="keywords" content="layout designer, imposer, young professional, Dimabytes, Saint-Petersburg">
<script type="text/javascript">
{
  if (screen.width > 1170) document.write ('<link rel="stylesheet" type="text/css" href="{% static 'Style/onepage-scroll.css' %}">');
}
</script>
<script type="text/javascript" src="{% static 'scripts/jquery.js' %}" ></script>
<script type="text/javascript" src="{% static 'scripts/slider.js' %}" ></script>
<script type="text/javascript">
{
  if (screen.width > 1170) document.write ('<script type="text/javascript" src="{% static 'scripts/jquery.onepage-scroll.js' %}" ></sc' + 'ript>');
}
</script>

<script type="text/javascript">
{
  if (screen.width > 1170) document.write ('<script type="text/javascript" src="{% static 'scripts/script.js' %}" ></sc' + 'ript>');
}
</script>
    <script>
    $(document).ready(function(){
        $(".main").onepage_scroll({
            updateURL: false,
            pagination: false,
            easing: "ease",
            animationTime: 800,
        });
    });
    </script>
{% endblock %}
{% block content %}

<div class="main">

    <section class="page1" style="font-family: 'Neucha', cursive;">
        <h1>Dimabytes</h1>
        <h2>Web-designer & developer</h2>
        <div class="lang">
            <a id="RU" href="{% url 'main_ru' %}">RU</a>
            <a id="EN" href="{% url 'main' %}">EN</a>
        </div>
    </section>

    <section class="page2">
        <h1 class="up_head">Who am I? <i class="far fa-address-card"></i></h1>
        <div class="who">
            <img src="{% static 'images/Me.png' %}" id="Me">
            <p id="WhoText">I am a young professional web developer.<br> I can make your order quickly and efficiently.<br>
                I have been active in web development for over 9 months.<br> I follow new trends in web development and can help you in creating great sites!</p>
        </div>
    </section>

    <section class="page3">
        <h1 class="up_head">My skills <i class="fas fa-highlighter"></i></h1>
        <div class="skills">
            <ul>
                <li id="1">Python</li>
                <li id="2">Django</li>
                <li id="3">Javascript</li>
                <li id="4">Jquery</li>
                <li id="5">HTML5</li>
                <li id="6">CSS3</li>
                <li id="7">Canvas</li>
            </ul>
        </div>
    </section>
    <section class="page4">
        <h1 class="up_head text_4">Last projects <i class="fas fa-briefcase"></i></h1>
        <div id="block-for-slider">
            <div id="viewport">
                <ul id="slidewrapper">
                    {% for foo in Kek %}
                    <li class="slide"><img src="{{ foo.Slide_Photo.url }}" alt="1" class="slide-img"></li>
                    {% endfor %}
                </ul>
                <ul id="nav-btns">
                    {% for foo in Kek %}
                    <li class="slide-nav-btn"></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <h1 class="up_head 4_text">To see more you can go to the <a style="color: #757575; text-transform: uppercase" href="{% url 'portfolio:index' %}">portfolio</a></h1>

    </section>
    <section class="page5">

        <h1 class="up_head">Contact me <i class="far fa-address-book"></i></h1>
        <form method="post" class="form">
            {% csrf_token %}
            <div class="email">{{ form.email}}</div>
            <div class="ename">{{ form.name}}</div>
            <div class="Text">{{ form.Text}}</div>

        <button type="submit" class="btn">Contact!</button>
        </form>
    </section>







</div>

{% endblock %}